@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");




@font-face{font-family:'BPG Nino Mtavruli';src:url(assets/fonts/bpg-nino-mtavruli-webfont.eot);src:url(assets/fonts/bpg-nino-mtavruli-webfont.eot?#iefix) format('embedded-opentype'),url(assets/fonts/bpg-nino-mtavruli-webfont.woff2) format('woff2'),url(assets/fonts/bpg-nino-mtavruli-webfont.woff) format('woff'),url(assets/fonts/bpg-nino-mtavruli-webfont.ttf) format('truetype'),url(assets/fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular) format('svg')}
@font-face {
  font-family: 'BPG Nino Mtavruli Bold';
  src: url('assets/fonts/bpg-nino-mtavruli-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('assets/fonts/bpg-nino-mtavruli-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('assets/fonts/bpg-nino-mtavruli-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('assets/fonts/bpg-nino-mtavruli-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('assets/fonts/bpg-nino-mtavruli-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
       url('assets/fonts/bpg-nino-mtavruli-bold-webfont.svg#bpg_nino_mtavrulibold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "Poppins";
  src: url(/assets/fonts/Poppins-Light.ttf) format("truetype");

}

@font-face {
  font-family: 'Oswald';
  src: url(/assets/fonts/Oswald-Bold.ttf) format("truetype");

}





* {
  font-family: 'BPG Nino Mtavruli', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, ul, p, a, span, label, h1, h2, h3, h4, h5 {
  font-family:'Poppins', '-apple-system', sans-serif, 'nino_mtavruli';
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 30px;
  padding-left: 20px;
  height: 80px;
  color: #fff;
  z-index: 1000;
}

.nav-container ul {
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 15px;
}

.nav-container ul li {
  cursor: pointer;
  transition: 0.5s;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  font-family: 'BPG Nino Mtavruli', sans-serif;
}


#menuBtn {
  display: none;

}


.nav-container ul li:hover,
.nav-container .icons i:hover {
  background-color: rgba(209, 209, 209, 0.279);
}

.logo {
  width: 125px;
  height: 53px;
  cursor: pointer;
  filter: brightness(0) invert(1);
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #dedede; /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 10px;
	cursor: pointer;
}

.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

/* javascript */
.active, .dot:hover{
	border-color: #1a1919ad; /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: #ffffff45; 
	font-size: 50px;
	margin-bottom: 20px;
  font-family: Oswald;
}
.txt p{
  font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  font-weight: lighter;

	font-size: 20px;
}
/* /3 */
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

  @keyframes zoomin {
    from {transform: scale(1, 1);}
    to {transform: scale(1.5, 1.5);}
  }

  .details-section {
    display: none; /* Initially hide the details section */
    
}


.nav-container .icons {
  display: flex;
  font-size: 25px;
  gap: 10px;
  cursor: pointer;
}

.nav-container .icons i {
  border-radius: 50%;
  padding: 3px;
  transition: 0.5s;
}

.dropdown__menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}


.pages {
  display: flex;
  justify-content: center;
  list-style: none;
  text-align: center;
  flex-direction: column;
}

.pages li {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 10px;
  color: #fff;
  scroll-snap-align: start;

}

.pages li video,
.pages li img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.page-info h1 {
  letter-spacing: 1px;
  font-size: 40px;
}
button.lanbut {
  font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
  height: 25px;
  width: 25px;
  text-align: -webkit-center;
  margin-top: 3px;
  margin-right: 0px;
  font-size: 12px;
  border-color: #fff;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
}

.page-info h1 {
  font-weight: 300;
  font-family: 'Oswald', '-apple-system', sans-serif, 'nino_mtavruli';
  color: #ffffff80;
}

.page-info h3 {
  font-weight: 500;
}

.page-info.model-x {
  color: #ffffffa4;
}

.page-info.model-x p {
  font-size: 12px;
}

.page-footer .buttons {
  margin-bottom: 25px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.page-footer .buttons button {
  font-size: 13px;
  padding: 7px 80px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.page-footer .buttons button:first-child {
  background-color: rgba(34, 34, 34, 0.8);
  color: #fff;

}

.page-footer .buttons button:last-child {
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
}

.page-footer .buttons.inverted button:first-child {
  background-color: rgba(255, 255, 255, 0.75);
  color: #333;
}

.page-footer .buttons.inverted button:last-child {
  background-color: rgba(34, 34, 34, 0.8);
  color: #fff;
}

.page-footer p,
.page-footer a {
  font-size: 12px;
  color: #fff;
}

.page-footer .buttons.demo-drive button {
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
}

#model-y-info,
#model-y-footer {
  opacity: 0;
  transform: translateY(50px);
  transition: 3s;
}

#hero1 .container1 h1 {
  font-size: 45px;
  margin-left: 90px;
  font-weight: 100;
}


#hero1 h4 {
  padding-bottom: 15px;

}

#hero1 h1 {
  font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  display: block;
  width: fit-content;
  font-size: 4rem;
  position: relative;
  color: transparent;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1s;

}


h1.lowweight {
  font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  font-weight: 800;
}

#hero1 h1:nth-child(1) {
  animation-delay: 1s;
  font-weight: 100;
}

#hero1 h1:nth-child(2) {
  animation-delay: 2s;
  font-weight: 100;
}

#hero1 h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3s;
  font-weight: 500;
}

#hero1 h1 span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(255, 255, 255, 0.695);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;
}

#hero1 h1:nth-child(1) span {
  animation-delay: 0.5s;
}

#hero1 h1:nth-child(2) span {
  animation-delay: 1.5s;
}

#hero1 h1:nth-child(3) span {
  animation-delay: 2.5s;
}


#hero1 .cta span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgb(255, 255, 255);
  animation: text_reveal_box 1s ease;
  animation-delay: 0.5s;

}

#hero1 .cta {
  display: table;
  margin-left: 90px;
  padding: 9px 20px;
  color: #ffffff;
  font-weight: 100;
  background-color: transparent;
  border: 1px solid #989898;
  font-size: rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-top: 5px;
  transition: .3s ease background-color;
  text-decoration: none;
  font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
}

#hero1 .cta:hover {
  color: #ffffff;
  background-color: #ffffffc6;


}


/* Keyframes */
@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: rgb(255, 255, 255);
    font-weight: 500;
  }
}

/* End Keyframes */



/* Start Media Query */

@media(max-width: 799px) {

  button.lanbut{
    display: none;
  }

  #langs{
    display: none;
  }


  @import url('https://fonts.cdnfonts.com/css/bpg-nino-mtavruli');

  .omnichannel__overlay,
  .header__overlay {
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(25px);
    background: rgba(0, 0, 0, 0.4);
    inset: 1;
    pointer-events: none;
    position: fixed;
    z-index: 151;
    transition: .3s ease;
  }

  .omnichannel__overlay,
  .header__overlay::after {
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.4);
    inset: 0;
    pointer-events: none;
    position: fixed;
    z-index: 151;




  }

  .overlay-hidden {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background: fixed;
  }

  .pages li video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;

  }
  .txt{
    top: 20%;
    left: 15%;
    line-height: 25px;
  }
  .txt h1{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: Oswald;
  }
  .txt p {
    font-weight: lighter;
    font-size: 14px;
  }
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid #ffffffbf;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}
.active, .dot:hover {
  border-color: #4c4c4cad;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #ffffff85;
  transition: 0.1s;
  user-select: none;
}

  .pages li {
    position: relative;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .pages li img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    padding-right: 20px;
  }

  .nav-container ul li {
    display: none;
  }

  .nav-container .icons {
    text-align: right;
    gap: 13px;
    margin-right: 10px;
  }

  #menuBtn {
    display: inline-block;
    color: #ffffff;
  }


  .sidebar {
    position: fixed;
    top: 0;

    padding: 50px 12px;
    right: -200px;
    /* Initially hidden */
    width: 200px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.675);
    z-index: 1000;
    transition: right 0.3s ease;

  }

  .page-footer .buttons button {
    font-size: 13px;
    padding: 7px 75px;
  }

  .sidebarpages {

    font-size: 25px;
    display: block;
    margin: 30px 0;
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 1px solid #0000004c;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 10px 1px;
  }

  .sidebarpages2 {
    font-size: 20px;
    display: block;
    margin: 30px 0;
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 1px solid #0000004c;
    font-weight: 700;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
    text-transform: uppercase;
    padding: 15px 1px;
    
  }

  #sidebarlogos {
    font-size: 5px;

  }

 

  .sidebarpages #chevron {
    height: 20px;
    width: 17px;
    position: absolute;
    right: 0;
    margin-top: 8px;
    vertical-align: middle;
  }

  .sidebarpages2 #chevron2 {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0;
    margin-top: -3px;
    vertical-align: middle;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent overlay */
    display: none;
    /* Initially hidden */
    z-index: 999;
  }

  .show-sidebar {
    right: 0;
    /* Show sidebar */
  }

  .closenav {
    font-size: 30px;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  #hero1 .container1 h1 {
    font-size: 60px;
    margin-left: 45px;
    font-weight: 100;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  }

  #hero1 .cta {
    display: table;
    margin-left: 45px;
    padding: 13px 44px;
    font-weight: 200;
    margin-top: 14px;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
    font-weight: 100;
  }

  .backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  .languagebox {
    font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
    margin-top: 5px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    /* Ensures the container only takes as much width as necessary */
  }

  .languagebox i {
    font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
    position: absolute;
    top: 53%;
    left: 5px;
    /* Adjust the position of the globe icon as needed */
    transform: translateY(-50%);
  }

  .language {
    font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
    width: 60px;
    color: black;
    font-weight: 500;
    border-radius: 20px;
    border-color: black;
    background-color: transparent;
    font-size: 14px;
    padding-left: 20px;
    /* Adjust the padding to ensure the text doesn't overlap with the icon */
  }

}

@media (max-width: 477px) {
  @import url('https://fonts.cdnfonts.com/css/bpg-nino-mtavruli');
  .languagebox {
    font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
    margin-top: 5px;
    font-size: 16px;
    position: relative;
    display: inline-block;
    /* Ensures the container only takes as much width as necessary */
  }

  .languagebox i {
    font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
    position: absolute;
    top: 53%;
    left: 5px;
    /* Adjust the position of the globe icon as needed */
    transform: translateY(-50%);
  }

  .language {
    font-family: "Poppins", sans-serif, 'nino_mtavruli', "nino_mtavruli";
    width: 50px;
    color: black;
    font-weight: 500;
    border-radius: 20px;
    border-color: black;
    background-color: transparent;
    font-size: 14px;
    padding-left: 23px;
    /* Adjust the padding to ensure the text doesn't overlap with the icon */
  }

  .nav-container {
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    padding-right: 20px;
    margin-right: 0px;
  }


  .pages li video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .pages li {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    padding-top: 170px;

    color: #fff;
    scroll-snap-align: start;
  }

  #hero1 .container1 h1 {
    font-size: 40px;
    margin-left: 15px;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  }

  #hero1 .cta {
    margin-left: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: .3s ease background-color;
    text-decoration: none;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  }
}

.page-footer .buttons button {
  font-size: 12px;
  padding: 7px 40px;
}

.page-footer .buttons {
  margin-bottom: 25px;

  gap: 5px;

}

.nav-container .icons {
  text-align: right;
  gap: 10px;
  margin-right: 0px;
  font-size: 25px;
}

.sidebarpages {
  font-size: 23px;
  display: block;
  margin: 25px 0;
  text-decoration: none;
  color: inherit;
  position: relative;
  padding: 15px 1px;
}

.sidebarpages2 {
  font-size: 17px;
  display: block;
  margin: 30px 0;
  text-decoration: none;
  color: inherit;
  position: relative;
  padding: 15px 1px;
  font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  font-weight: 100;

}

.sidebarpages #chevron {
  height: 20px;
  width: 17px;
  position: absolute;
  right: 0;
  margin-top: 8px;
  vertical-align: middle;
}

.sidebarpages2 #chevron2 {
  height: 19px;
  width: 17px;
  position: absolute;
  right: 0;
  vertical-align: middle;
}

.page-footer p,
.page-footer a {
  font-size: 11px;
  color: #fff;
  font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
}

#closeNav {
  color: black;
}



@media(max-width: 320px) {

  @import url('https://fonts.cdnfonts.com/css/bpg-nino-mtavruli');

  #closeNav {
    color: black;
  }


  .logo {
    width: 90px;
    height: 38px;
  }

  .nav-container .icons {
    text-align: right;
    gap: 5px;
    margin-right: 0px;
    font-size: 19px;
  }

 

  .page-footer .buttons button {
    font-size: 9px;
    padding: 6px 30px;

  }

  #hero1 .container1 h1 {
    font-size: 24px;
    margin-left: 14px;
    font-weight: 100;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  }

  #hero1 .cta {
    margin-left: 14px;
    font-size: 9px;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
  }

  .page-footer p,
  .page-footer a {
    font-size: 8px;
    color: #fff;
  }

  .sidebarpages {
    font-size: 15px;
  }

  .sidebarpages2 {
    font-size: 13px;
    margin: 10px 0;
    font-family: 'BPG Nino Mtavruli', '-apple-system', sans-serif, 'nino_mtavruli';
    font-weight: 100;
  }

  .sidebarpages2 #chevron2 {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 0;

    vertical-align: middle;
  }

  .bx-exit::before {
    font-size: 25px;
  }
  .txt{
    top: 20%;
    left: 15%;
  }
  .txt h1{
    font-size: 35px;
    margin-bottom: 10px;
    font-family: Oswald;
  }
  .txt p {
    font-weight: lighter;
    font-size: 14px;
  }
  .dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 2px solid #ffffffbf;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
}
.active, .dot:hover {
  border-color: #4c4c4cad;
}
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 30px;
  padding: 15px;
  cursor: pointer;
  color: #ffffff85;
  transition: 0.1s;
  user-select: none;
}

  .sidebar {
    position: fixed;
    top: 0;
    padding: 50px 12px;
    right: -137px;
    /* Initially hidden */
    width: 137px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.675);
    z-index: 1000;
    transition: right 0.3s ease;
  }

  .sidebarpages {

    font-size: 15px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: inherit;
    position: relative;
    border-bottom: 1px solid #0000004c;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    padding: 10px 1px;
  }

  #sidebarlogos {
    font-size: 5px;

  }

  .sidebarpages #chevron {
    height: 12px;
    width: 12px;
    position: absolute;
    right: 0;
    margin-top: 7px;
    vertical-align: middle;
  }

  .show-sidebar {
    right: 0;
  }

}

@media (min-width: 799px) {
  .sidebar {
    display: none;
    /* Hide sidebar on desktop */
  }

  .overlay {
    display: none;
    /* Hide overlay on desktop */
  }

}
